<% if (theme.links.length){ %>
  <div class="widget card border-0 shadow-lg mb-4 bg-gradient">
    <div class="card-header bg-dark text-white d-flex align-items-center border-0">
      <i class="bi bi-link-45deg me-2 fs-4"></i>
      <h5 class="mb-0 flex-grow-1 text-uppercase letter-spacing-1"><%= __('links') %></h5>
    </div>
    <div class="card-body p-3">
      <ul class="list-group list-group-flush">
        <% for (var i in theme.links){ %>
          <li class="list-group-item d-flex align-items-center border-0 bg-transparent">
            <i class="<%- theme.links[i].icon %> me-2 fs-5"></i>
            <a href="<%- theme.links[i].url %>" title="<%- theme.links[i].intro %>" target="_blank" class="fw-bold text-primary text-uppercase text-decoration-none">
              <%= theme.links[i].title %>
            </a>
          </li>
        <% } %>
      </ul>
    </div>
  </div>
<% } %>
