<%
  var title = '';
  if (page.archive) {
    if (page.year) title = page.year + (page.month ? '/' + page.month : '');
    else title = __('archive_a');
  }

  // Utiliser les données de breaches.json
  var posts = site.data.breaches ? site.data.breaches.breaches : [];
  var archiveData = {
      years: {},
      months: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre']
  };
     const invalidcategory=["hygiène numérique","sécurité","cybersécurité","cybercriminalité","cyberguerre"]
  // Ajouter l'index à chaque post et trier
  var filteredPosts = posts.filter((item)=>{
          return !item.Name.includes('cve')
        }).filter((c)=>{
          if(c.Name.toLowerCase().includes("cve-")){
            return false
          }
          const category=c.categories[0]
          if(category==""){
								return false
							}
								if(!isNaN(parseInt(category))){
								invalidcategory.push(category)
							}
							if(invalidcategory.includes(category.toLowerCase())){
								return false 
							}
              return !c.IsRetired 
        }).map((item, index) => {
    //item.index = index; // Ajouter l'index pour le lien
    return item;
  }).sort((a, b) => new Date(b.BreachDate) - new Date(a.BreachDate))
    ;

  filteredPosts.forEach(function(item) {
      var date = new Date(item.BreachDate);
      var year = date.getFullYear();
      var month = date.getMonth();
      
      if (!archiveData.years[year]) {
         archiveData.years[year] = {};
      }
      if (!archiveData.years[year][month]) {
         archiveData.years[year][month] = [];
      }
      archiveData.years[year][month].push(item);
   });
%>

<!-- title -->
<div class="page-header <% if (theme.inverse){ %>page-header-inverse<% } %>">
  <h1 class="archive-title title <% if (theme.inverse){ %>title-inverse<% } %>"><%= title %></h1>
  <% if (filteredPosts && filteredPosts.length) { %>
    <div class="archive-year-nav">
      <% Object.keys(archiveData.years).sort((a, b) => a - b).forEach(function(year) { %>
        <% var yearCount = Object.keys(archiveData.years[year]).reduce(function(total, monthKey) { return total + archiveData.years[year][monthKey].length; }, 0);var totalPwnCount = Object.keys(archiveData.years[year]).reduce(    (total, monthKey) => total + archiveData.years[year][monthKey].reduce(        (monthTotal, item) => monthTotal + (item.PwnCount || 0), 0 ), 0); %>

        <a href="#year_heading_<%= year %>"><%= year %> (<%= yearCount %>) avec <%= totalPwnCount %> ligne cumulée de données fuitée</a></br>
      <% }); %>
    </div>
  <% } %>
</div>

<% if (!filteredPosts || filteredPosts.length === 0) { %>
  <div class="alert alert-info" role="alert">
    Aucune fuite de données trouvée.
  </div>
<% } else { %>
  <div class="row page">
    <div class="<% if (theme.widgets.length) { %>col-md-9<% } else { %>col-md-12<% } %>">
      <div class="archive">
        <% Object.keys(archiveData.years).sort((a, b) => b - a).forEach(function(year) { %>
          <% var yearCount = Object.keys(archiveData.years[year]).reduce(function(total, monthKey) { return total + archiveData.years[year][monthKey].length; }, 0); %>
          <h4 id="year_heading_<%= year %>" class="archive-ul" data-toggle="collapse" data-target="#year_<%= year %>"><%= year %> (<%= yearCount %>) <b class="caret"></b></h4>
          <div id="year_<%= year %>" class="collapse in">
            <% Object.keys(archiveData.years[year]).sort((a, b) => b - a).forEach(function(month) { %>
              <% var monthCount = archiveData.years[year][month].length; %>
              <h5 class="archive-ul" data-toggle="collapse" data-target="#month_<%= year %>_<%= month %>"><%= archiveData.months[month] %> (<%= monthCount %>) <b class="caret"></b></h5>
              <div id="month_<%= year %>_<%= month %>" class="collapse in">
                <ol>
                  <% archiveData.years[year][month].forEach(function(item) { %>
                    <li class="listing-item">
                      <span class="date_class"><%= new Date(item.BreachDate).toISOString().split('T')[0] %></span> &raquo;
                      <span class="title"><a href="<%- url_for('/fuites?id=' + item.index) %>" title="<%= item.Title||item.Name %>"><%= item.Title||item.Name %></a></span>
                    </li>
                  <% }); %>
                </ol>
              </div>
            <% }); %>
          </div>
        <% }); %>
      </div>
    </div>
  </div>
<% } %>
