<!DOCTYPE HTML>
<html>
  <%- partial('_partial/head') %>
  <body class="bg-dark text-light">
    <%- partial('_partial/navigation') %>
<div id="ecoindex-badge" data-theme="dark"></div>
<script src="https://cdn.jsdelivr.net/gh/cnumr/ecoindex_badge@3/assets/js/ecoindex-badge.js" defer></script>
    <div class="container">
      <%- body %>
    </div>
    <div class="container-narrow">
      <footer> <%- partial('_partial/footer') %> </footer>
    </div> <!-- container-narrow -->
    <%- partial('_partial/search') %>
    <%- partial('_partial/after_footer') %>
    <script>
      window.va = window.va || function () { (window.vaq = window.vaq || []).push(arguments); };
    </script>
    <script defer src="/_vercel/insights/script.js"></script>
    <script>
      window.si = window.si || function () { (window.siq = window.siq || []).push(arguments); };
    </script>
    <script defer src="/_vercel/speed-insights/script.js"></script>
  </body>
</html>
